In [3]:
import pandas as pd

In [4]:
#1............................
pd.read_csv("FitBit_data.csv")

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,4/8/2016,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,4/9/2016,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,4/10/2016,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,4/11/2016,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,4/12/2016,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

In [5]:
a=pd.read_csv("FitBit_data.csv")

In [19]:
a

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-03-25 00:00:00,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,2016-03-26 00:00:00,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,2016-03-27 00:00:00,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,2016-03-28 00:00:00,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,2016-03-29 00:00:00,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,2016-04-08 00:00:00,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,2016-04-09 00:00:00,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,2016-04-10 00:00:00,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,2016-04-11 00:00:00,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,2016-04-12 00:00:00,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

In [40]:
a.dtypes

Id                                   int64
ActivityDate                datetime64[ns]
TotalSteps                           int64
TotalDistance                      float64
TrackerDistance                    float64
LoggedActivitiesDistance           float64
VeryActiveDistance                 float64
ModeratelyActiveDistance           float64
LightActiveDistance                float64
SedentaryActiveDistance            float64
VeryActiveMinutes                    int64
FairlyActiveMinutes                  int64
LightlyActiveMinutes                 int64
SedentaryMinutes                     int64
Calories                             int64
dtype: object

In [32]:
#3..............................
a["ActivityDate"]=pd.to_datetime(a['ActivityDate'])

In [46]:
a.dtypes

Id                                   int64
ActivityDate                datetime64[ns]
TotalSteps                           int64
TotalDistance                      float64
TrackerDistance                    float64
LoggedActivitiesDistance           float64
VeryActiveDistance                 float64
ModeratelyActiveDistance           float64
LightActiveDistance                float64
SedentaryActiveDistance            float64
VeryActiveMinutes                    int64
FairlyActiveMinutes                  int64
LightlyActiveMinutes                 int64
SedentaryMinutes                     int64
Calories                             int64
dtype: object

In [60]:
#4................................
a["Id"].unique()
len(a["Id"].unique())

35

In [89]:
#5...................................
a.groupby("Id")["VeryActiveMinutes"].sum().idxmax()

8053475328

In [103]:
#6...............................
a[a["LoggedActivitiesDistance"]==0]["Id"].unique()

array([1503960366, 1624580081, 1644430081, 1844505072, 1927972279,
       2022484408, 2026352035, 2320127002, 2347167796, 2873212765,
       2891001357, 3372868164, 3977333714, 4020332650, 4057192912,
       4319703577, 4388161847, 4445114986, 4558609924, 4702921684,
       5553957443, 5577150313, 6117666160, 6290855005, 6391747486,
       6775888955, 6962181067, 7007744171, 7086361926, 8053475328,
       8253242879, 8378563200, 8583815059, 8792009665, 8877689391],
      dtype=int64)

In [199]:
#7...............................
b=a.groupby("Id")[["TotalDistance"]].sum().reset_index()
c=b.sort_values(by = "TotalDistance",ascending = True,ignore_index = True)
c["Id"][0]

4388161847

In [263]:
#8................................
len(a[a["Calories"]>2000]['Id'].unique())

30

In [335]:
#9........................
b=a.groupby('Id')["ActivityDate"].count().reset_index()
c=(b[b["ActivityDate"]==min(b["ActivityDate"])].index.values)
d=[]
for i in c:
    d.append(b.iloc[i])
d

[Id              2891001357
 ActivityDate             8
 Name: 10, dtype: int64,
 Id              4388161847
 ActivityDate             8
 Name: 16, dtype: int64,
 Id              8583815059
 ActivityDate             8
 Name: 32, dtype: int64]

In [331]:
#10..................................
b=a.groupby("Id")[["TotalDistance"]].sum()
b.sort_values(by="TotalDistance",ascending=False).iloc[2]

TotalDistance    132.6
Name: 4020332650, dtype: float64

In [332]:
#11.............................................
b=a.groupby("Id")[["TotalDistance"]].sum()
b.sort_values(by="TotalDistance",ascending=True).iloc[4]

TotalDistance    18.13
Name: 1927972279, dtype: float64

In [333]:
b=a.groupby("Id")[['Calories']].sum()

            Calories
Id
1503960366     34128
1624580081     25705
1644430081     29164
1844505072     19391
1927972279     27048
2022484408     29704
2026352035     16266
2320127002     18385
2347167796     30320
2873212765     20349
2891001357     18187
3372868164     18603
3977333714     16777
4020332650     98412
4057192912     60913
4319703577     23931
4388161847     14442
4445114986     31617
4558609924     21962
4702921684     42322
5553957443     21630
5577150313     36303
6117666160     20993
6290855005     21656
6391747486     15868
6775888955     24523
6962181067     29249
7007744171     31525
7086361926     26124
8053475328     31825
8253242879     17556
8378563200     40274
8583815059     19130
8792009665     24884
8877689391     41414